.header-container {
    height: 5vh;
    width: 100vw;
    grid-area: header-container;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#app-header {
    margin: 0;
    color: black;
    padding-left: 1rem;
}

#logo {
    height: 70%;
    margin-left: 1rem;
}