.App {
  height: 100vh;
  width: 100vw;
  display:grid;
  grid-template-areas: 
  "header-container header-container header-container"
  "left-container table-container right-container"
  "footer-container footer-container footer-container";
  background-color: #051e3e;
  text-align: center;
}
